<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
        <!-- Compiled and minified CSS -->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   		<!-- Compiled and minified JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<title>Mongo Database News Scraper</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body>
		<nav>
			<div class="nav-wrapper light-blue darken-3">
				<a href="#!" class="brand-logo center">NPR News Scraper</a>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a href="">Home</a></li>
					<li><a href="badges.html">Saved Articles</a></li>
				</ul>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a class="waves-effect waves-light btn blue-grey lighten-1" id="newScrape">SCRAPE NEW ARTICLES!</a></li>
					<li><a class="waves-effect waves-light btn blue-grey lighten-1" id="clearScrapedArticles">CLEAR SCRAPED ARTILCES</a></li>
				</ul>
			</div>
		</nav>  
		<ul class="sidenav" id="mobile-demo">
			<li><a href="/">Home</a></li>
    		<li><a href="/saved">Saved Articles</a></li>
		</ul>
		{{{body}}}

    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		
	</body>
</html>