<nav>
    <div class="nav-wrapper light-blue darken-3">
        <a href="#!" class="brand-logo center">Saved Articles</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn blue-grey lighten-1" id="newScrape">SCRAPE NEW ARTICLES!</a></li>
            <li><a class="waves-effect waves-light btn blue-grey lighten-1" id="clearScrapedArticles">CLEAR SCRAPED ARTILCES</a></li>
        </ul>
    </div>
</nav>  
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/saved">Saved Articles</a></li>
</ul>
<div id="modal1" class="modal">
    <div class="modal-content">
        <div id="modalHeader"></div>

        <div id="oldNotes">
            {{#each note}}
            {{/each}}
        </div>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Note:</label>
                    </div>
                </div>
            </form>
        </div>
    </div>   
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="saveNote">Save Note</a>
    </div> 
</div>

<div class="container">
    <ul class="collapsible popout" id="savedResults">
        {{#each save}}
        {{/each}}
    </ul>
</div>

<script src="/js/saved.js"></script>